@model IEnumerable<IEXTrading.Models.Quote>

@{
    ViewData["Title"] = "Index";
}

<div class="container table-responsive">
    <h1>Top 5 Technology Stocks to Buy/Sell this week</h1>
    <br />
    <div id="stocktable" class="table-editable">
        <table class="table">
            <thead style="background: #337ab7;color: white;">
                <tr>
                    <th>Company Name</th>
                    <th>Ticker</th>
                    <th>Current Price</th>
                    <th>Market Cap (Bn)</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Prev Close</th>
                    <th>Date</th>
                </tr>
            </thead>
                @foreach (var item in Model)
                {
                    string mkCapBn = (item.marketCap / 1000000000.0).ToString("#.##");
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.companyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.symbol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.latestPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => mkCapBn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.open)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.high)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.low)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.previousClose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.latestTime)
                        </td>
                    </tr>
                }
        </table>
    </div>
    <div style="text-align:center;">
        <button id="export-btn" class="btn btn-primary" style="text-align:center;" onclick="location.href='@Url.Action("SaveTopStocks", "TopStocks")'">Save Stocks</button>
    </div>
    
</div>
<br />
<br />
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>